.footer {
    background-color: #1f1f1f;
    padding-top: 60px;
    padding-bottom:40px;
    display: flex;
    min-height: 350px;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
  }